In [11]:
import numpy as np
import pandas as pd

df = pd.read_csv('/Users/RAhmed/data store/Wesleyan_Capstone/foo.csv')

In [20]:
df.head()

   id     Name  Score
0  10     Andy  100.0
1  20    Brian    NaN
2  30  Charlie  110.0

In [23]:
df.iat[1,2]

nan

In [24]:
print(type(df.iat[1,2]))

<class 'numpy.float64'>

In [19]:
np.nan in df

False

In [25]:
np.nan

nan

In [ ]:
def bool_0_or_1(bool):
    
    bool_dict = {False: 0, True: 1, 'unknown': 2}
    return bool_dict[bool]