# Working Doc, not Report Doc

## Commenced 20 Aug 2018

## Steps to do

> 1. Import the two data files (predictors and targets) and merge, with pandas.
> 2. Cut down to the predictors to be used. 
> 3. Create composite variables.
> 4. Preliminary data exploration:
>> Categorical variables: check number of categories including blanks; create filled bar charts.<br>
>> Quantitative variables: get statistics such as mean, median, sd, range, # blanks; create violin or box plots.
> 5. Decide on further data mgt., such as: "rare" categories, binned categories, delete all rows with blanks/if too many blanks.
> 6. Train/test split.
> 7. Create decision tree as a baseline reference for random forest.
> 8. Create random forest. Tune parameters, consider boosting/bagging, confusion matrix, what is performance?
> 9. Predict on test set.
> 10. What do I now know? What does everything mean?

### 1. Import data files and merge

In [233]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [234]:
# import data files
predictors = pd.read_csv('/Users/RAhmed/data store/Wesleyan_Capstone/4910797b-ee55-40a7-8668-10efd5c1b960.csv')
targets = pd.read_csv('/Users/RAhmed/data store/Wesleyan_Capstone/0bf8bc6e-30d0-4c50-956a-603fc693d966.csv')

# check loaded properly
predictors.head(2)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [235]:
# check loaded properly
targets.head(2)

      id status_group
0  69572   functional
1   8776   functional

In [236]:
# merge predictors and targets, and check
full_data = pd.merge(predictors, targets, on = 'id')
full_data.head(2)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

## Check if duplicate rows

In [237]:
full_data.shape

(59400, 41)

In [238]:
full_data.drop_duplicates()
full_data.shape

(59400, 41)

There are no duplicate rows. Now check on ids

In [239]:
z = full_data.duplicated('id')
print(sum(z))

0

^ So no duplicates on id. Phew! (As I did this later.)

### 2A. Cut down to the predictors to be used

Will initially keep longitude and latitude, as will use these to find nearest neighbour for gps_height where that equals zero (i.e. not known/recorded)

In [240]:
# list columns to keep
keep_cols = {'id', 'date_recorded', 'gps_height', 'installer', 'longitude', 'latitude', 'basin', 'region_code', 
             'population', 'public_meeting', 'scheme_management', 'permit', 'construction_year',
             'extraction_type_group', 'management_group', 
             'payment_type', 'water_quality', 'quantity_group', 'source_type', 
             'source_class', 'waterpoint_type_group', 'status_group'}
all_cols = set(full_data.head(0))
# create columns to drop and check with a print
drop_cols = all_cols - keep_cols
print(drop_cols)

{'extraction_type_class', 'funder', 'region', 'quantity', 'district_code', 'subvillage', 'amount_tsh', 'lga', 'quality_group', 'waterpoint_type', 'ward', 'recorded_by', 'scheme_name', 'extraction_type', 'payment', 'management', 'num_private', 'source', 'wpt_name'}

In [241]:
# create data set with just wanted variables
select_data = full_data.drop(drop_cols, axis = 1)

In [242]:
select_data.head(2)

,id,date_recorded,gps_height,installer,longitude,latitude,basin,region_code,population,public_meeting,...,construction_year,extraction_type_group,management_group,payment_type,water_quality,quantity_group,source_type,source_class,waterpoint_type_group,status_group
0,69572,2011-03-14,1390,Roman,34.938093,-9.856322,Lake Nyasa,11,109,True,...,1999,gravity,user-group,annually,soft,enough,spring,groundwater,communal standpipe,functional
1,8776,2013-03-06,1399,GRUMETI,34.698766,-2.147466,Lake Victoria,20,280,NaN,...,2010,gravity,user-group,never pay,soft,insufficient,rainwater harvesting,surface,communal standpipe,functional

### 2B. Need to make most predictors into a categorical variables

In [243]:
categories = {'installer', 'basin', 'region_code', 
             'population', 'public_meeting', 'scheme_management', 'permit',
             'extraction_type_group', 'management_group', 'payment_type', 
              'water_quality', 'quantity_group', 'source_type', 
             'source_class', 'waterpoint_type_group', 'status_group'}

for item in categories:
    select_data[item] = select_data[item].astype('category')
# check types
select_data.dtypes

id                          int64
date_recorded              object
gps_height                  int64
installer                category
longitude                 float64
latitude                  float64
basin                    category
region_code              category
population               category
public_meeting           category
scheme_management        category
permit                   category
construction_year           int64
extraction_type_group    category
management_group         category
payment_type             category
water_quality            category
quantity_group           category
source_type              category
source_class             category
waterpoint_type_group    category
status_group             category
dtype: object

### 3A. Create season_recorded, that takes category from month of recording

In [244]:
# initial testing
for item in select_data['date_recorded'][3]:
    print(item, type (item))
select_data['date_recorded'][3][5] + select_data['date_recorded'][3][6]

2 <class 'str'>
0 <class 'str'>
1 <class 'str'>
3 <class 'str'>
- <class 'str'>
0 <class 'str'>
1 <class 'str'>
- <class 'str'>
2 <class 'str'>
8 <class 'str'>

'01'

In [245]:
# create seasons as per: https://www.tripsavvy.com/tanzania-weather-and-average-temperatures-4071465
short_dry = {'01', '02'}
long_dry= {'06', '07', '08', '09', '10'}
short_rainy = {'11', '12'}
long_rainy = {'03', '04', '05'}

# create function to allocate seasons
def season(month_str):
    if month_str in short_dry:
        return 'short_dry'
    elif month_str in long_dry: 
        return 'long_dry'
    elif month_str in short_rainy: 
        return 'short_rainy'
    else:
        return 'long_rainy'

# create series for season based on date (= month) recorded, and check type is category
df = select_data['date_recorded'].apply(lambda row: season(row[5] + row[6]))
df = df.astype('category')
df.dtypes

# insert into select_data
select_data.insert(2, 'season_recorded', df)

In [246]:
# check works
select_data.head(10)

,id,date_recorded,season_recorded,gps_height,installer,longitude,latitude,basin,region_code,population,...,construction_year,extraction_type_group,management_group,payment_type,water_quality,quantity_group,source_type,source_class,waterpoint_type_group,status_group
0,69572,2011-03-14,long_rainy,1390,Roman,34.938093,-9.856322,Lake Nyasa,11,109,...,1999,gravity,user-group,annually,soft,enough,spring,groundwater,communal standpipe,functional
1,8776,2013-03-06,long_rainy,1399,GRUMETI,34.698766,-2.147466,Lake Victoria,20,280,...,2010,gravity,user-group,never pay,soft,insufficient,rainwater harvesting,surface,communal standpipe,functional
2,34310,2013-02-25,short_dry,686,World vision,37.460664,-3.821329,Pangani,21,250,...,2009,gravity,user-group,per bucket,soft,enough,dam,surface,communal standpipe,functional
3,67743,2013-01-28,short_dry,263,UNICEF,38.486161,-11.155298,Ruvuma / Southern Coast,90,58,...,1986,submersible,user-group,never pay,soft,dry,borehole,groundwater,communal standpipe,non functional
4,19728,2011-07-13,long_dry,0,Artisan,31.130847,-1.825359,Lake Victoria,18,0,...,0,gravity,other,never pay,soft,seasonal,rainwater harvesting,surface,communal standpipe,functional
5,9944,2011-03-13,long_rainy,0,DWE,39.172796,-4.765587,Pangani,4,1,...,2009,submersible,user-group,per bucket,salty,enough,other,unknown,communal standpipe,functional
6,19816,2012-10-01,long_dry,0,DWSP,33.362410,-3.766365,Internal,17,0,...,0,swn 80,user-group,never pay,soft,enough,borehole,groundwater,hand pump,non functional
7,54551,2012-10-09,long_dry,0,DWE,32.620617,-4.226198,Lake Tanganyika,17,0,...,0,nira/tanira,user-group,unknown,milky,enough,shallow well,groundwater,hand pump,non functional
8,53934,2012-11-03,short_rainy,0,Water Aid,32.711100,-5.146712,Lake Tanganyika,14,0,...,0,india mark ii,user-group,never pay,salty,seasonal,borehole,groundwater,hand pump,non functional
9,46144,2011-08-03,long_dry,0,Artisan,30.626991,-1.257051,Lake Victoria,18,0,...,0,nira/tanira,user-group,never pay,soft,enough,shallow well,groundwater,hand pump,functional

### 3B. Fill in missing gps_height variables

Approach will be to find nearest 3 neighbours and take average.

In [247]:
# testing how loc and iloc work
print(select_data.loc[0])
print(select_data.loc[0].latitude) # <= this is key technique
for row in select_data:
    print(row)
print(select_data.iloc[0])

id                                    69572
date_recorded                    2011-03-14
season_recorded                  long_rainy
gps_height                             1390
installer                             Roman
longitude                           34.9381
latitude                           -9.85632
basin                            Lake Nyasa
region_code                              11
population                              109
public_meeting                         True
scheme_management                       VWC
permit                                False
construction_year                      1999
extraction_type_group               gravity
management_group                 user-group
payment_type                       annually
water_quality                          soft
quantity_group                       enough
source_type                          spring
source_class                    groundwater
waterpoint_type_group    communal standpipe
status_group                     functional
Name: 0, dtype: object
-9.85632177
id
date_recorded
season_recorded
gps_height
installer
longitude
latitude
basin
region_code
population
public_meeting
scheme_management
permit
construction_year
extraction_type_group
management_group
payment_type
water_quality
quantity_group
source_type
source_class
waterpoint_type_group
status_group
id                                    69572
date_recorded                    2011-03-14
season_recorded                  long_rainy
gps_height                             1390
installer                             Roman
longitude                           34.9381
latitude                           -9.85632
basin                            Lake Nyasa
region_code                              11
population                              109
public_meeting                         True
scheme_management                       VWC
permit                                False
construction_year                      1999
extraction_type_group               gravity
management_group                 user-group
payment_type                       annually
water_quality                          soft
quantity_group                       enough
source_type                          spring
source_class                    groundwater
waterpoint_type_group    communal standpipe
status_group                     functional
Name: 0, dtype: object

In [248]:
# function to find key of maximum value in a dictionary
# will be needed for the finding indices of dictionaries for nearest gps
def find_dict_max(dict_):
    for keys, values in dict_.items():
        if values == max(dict_.values()):
            return keys

In [249]:
# will work on a smaller dataframe to make easier to follow. 
# need to make a deep copy, else original df also impacted.
import copy
df = copy.deepcopy(select_data[5000:1000])
df = df.reset_index(drop=True)

# initially done as code, not a function
for i in range(df['gps_height'].shape[0]):
    if df['gps_height'][i] != 0: 
        pass
    else:
        neighbours = {-3:99999, -2:99999, -1:99999}
        for j in range(df['gps_height'].shape[0]):
            if j != i:
                lat_i = df['latitude'][i]
                lat_j = df['latitude'][j]
                long_i = df['longitude'][i]
                long_j = df['longitude'][j]
                euclidian_dist = ((lat_i - lat_j)**2 + (long_i - long_j)**2)**0.5
                # check if euclidian distance small enough to go into neighbours
                if euclidian_dist < max(neighbours.values()):
                    # if yes, need to remove max distance so far and return this distance
                    neighbours.pop(find_dict_max(neighbours))
                    neighbours.update({j: euclidian_dist})
                else:
                    pass
                
        # now need to get average heights using indices in the neighbours keys
        heights = []
        for k in neighbours:
            heights.append(df['gps_height'][k])
        average_height = sum(heights)/len(heights)
        df['gps_height'][i] = average_height  
        
df.head()

Empty DataFrame
Columns: [id, date_recorded, season_recorded, gps_height, installer, longitude, latitude, basin, region_code, population, public_meeting, scheme_management, permit, construction_year, extraction_type_group, management_group, payment_type, water_quality, quantity_group, source_type, source_class, waterpoint_type_group, status_group]
Index: []

[0 rows x 23 columns]

The above code works nicely. The solution is to have a function that you run several times to get rid of zeros.

The issue you then run into is that applying the function on a row in the way we did with the season_recorded doesn't work. This is because you need to iterate over every row in any one row's function. This can be solved if you **apply the function to the whole dataframe,** as then you get iterate over i, j, etc.

One complication as that (for some reason) could not change the df['gps_height'] in situ. Had to create another df for the result, and swap it out for the old one.

Two points to note: i. For some height=0, their 3 nearest neighbours are also 0, so you still get zero entries; ii. Quite a number of longitudes are also zero, so also adjusted for that.  (i. can be solved by running function, e.g., twice.  N.B. As lat and long won't be used for predictive power, no point removing those zero rows if latitude = 0.)

In [250]:
# # just testing
# df.loc[0]['gps_height']

In [251]:
# # just testing
# df['gps_height'][0]

Now create the function.

In [252]:
# make as a function, so can be done twice
def gps_helper(df):
    """
    INPUT is the whole dataframe, so that you can easily traverse rows and columns
    output is a single-column df tat has the new gps_heights
    was hugely complex as (for some reason), could not directly change df's gps_height column
    so you need to drop that column and put the new one in its place
    OUTPUT is a single-column dataframe of new gps heights
    IDEA: take 3 closest neighbours where gps_height is zero, and take average height of those.
    That has to be added to the dataframe afterwards and seprately (having removed the old one with lots of zeros
    """
    # input df needs to be reindexed to begin at zero
    df = df.reset_index(drop=True)
    
    # Sadly, needed to create an output df that is added later, outside this function
    list0 = [0] * df.shape[0]
    df_gps = pd.DataFrame(list0, columns=['gps_height*'])
    for i in range(df.shape[0]):
        if df.loc[i]['gps_height'] != 0:
            df_gps.loc[i]['gps_height*'] = df.loc[i]['gps_height']
            pass 
        else:
            neighbours = {-3:99999, -2:99999, -1:99999}
            for j in range(df.shape[0]):
                # Many latitudes = 0, so also adjusting for this
                if (j != i) and (df.loc[j]['latitude'] != 0):
                    lat_i = df.loc[i]['latitude']
                    lat_j = df.loc[j]['latitude']
                    long_i = df.loc[i]['longitude']
                    long_j = df.loc[j]['longitude']
                    euclidian_dist = ((lat_i - lat_j)**2 + (long_i - long_j)**2)**0.5
                    # check if euclidian distance small enough to go into neighbours
                    if euclidian_dist < max(neighbours.values()):
                        # if yes, need to remove max distance so far and return this distance
                        neighbours.pop(find_dict_max(neighbours))
                        neighbours.update({j: euclidian_dist})
                    else:
                        pass

            # now need to get average heights using indices in the neighbours keys
            heights = []
            for k in neighbours:
                heights.append(df.loc[k]['gps_height'])
                
            average_height = sum(heights)/len(heights)
            z = average_height
            df_gps.loc[i]['gps_height*'] = z

        
    zero_count = 0
    for m in range(df.shape[0]):
        if df_gps.loc[m]['gps_height*'] == 0:
            zero_count += 1
    
    print("number of zero heights is: {}".format(zero_count))
    return df_gps

Create a small copy of select_data on which to test and check.

In [253]:
micro_data = copy.deepcopy(select_data[:30])
temp = gps_helper(micro_data)
temp
# # drop old gps_height column and add new gps_height column (here temp)
micro_data = micro_data.drop('gps_height', axis=1)
# # Append a column to df
micro_data.insert(3, 'gps_height', temp)
micro_data.head()

number of zero heights is: 3

,id,date_recorded,season_recorded,gps_height,installer,longitude,latitude,basin,region_code,population,...,construction_year,extraction_type_group,management_group,payment_type,water_quality,quantity_group,source_type,source_class,waterpoint_type_group,status_group
0,69572,2011-03-14,long_rainy,1390,Roman,34.938093,-9.856322,Lake Nyasa,11,109,...,1999,gravity,user-group,annually,soft,enough,spring,groundwater,communal standpipe,functional
1,8776,2013-03-06,long_rainy,1399,GRUMETI,34.698766,-2.147466,Lake Victoria,20,280,...,2010,gravity,user-group,never pay,soft,insufficient,rainwater harvesting,surface,communal standpipe,functional
2,34310,2013-02-25,short_dry,686,World vision,37.460664,-3.821329,Pangani,21,250,...,2009,gravity,user-group,per bucket,soft,enough,dam,surface,communal standpipe,functional
3,67743,2013-01-28,short_dry,263,UNICEF,38.486161,-11.155298,Ruvuma / Southern Coast,90,58,...,1986,submersible,user-group,never pay,soft,dry,borehole,groundwater,communal standpipe,non functional
4,19728,2011-07-13,long_dry,387,Artisan,31.130847,-1.825359,Lake Victoria,18,0,...,0,gravity,other,never pay,soft,seasonal,rainwater harvesting,surface,communal standpipe,functional

**To Do:** Run gps_helper on the complete data set that you want to use. (Potentially run it twice to get rid of remaining zero entries?) **N.B.** An issue is that if you remove rows afterwards as part of your data management, you won't be able to trace the heights back.

In [254]:
# check gps_height is correct type. 'int64' is correct.
micro_data['gps_height'].dtypes

dtype('int64')

### 3C. Fill-in missing construction_year by matching with similar observations

We want to fill in missing construction_year so that we can create an wpt_age variable. We can do this be taking a nearest neighbour approach, but simpler than Euclidian distance as only categorical variables.

There are only a small number of chosen variables. So on your iterations through the df, if construction_year is non-zero and row matches on all chosen variables, its year is added to a list.  You would take an average of all the construction_years in the list and put that into the output dataframe. Rest of function and construction would be similar to gps_helper, above. 

Chosen categorical variables would be installer, scheme_management, extraction_type_group, and whether functional.  NOTE: the latter biases the "target" into the "predictors"!!! (Justification is that similar types would be similarly functional or not.)

You could also do for lat/long. But I will leave, as well as adding complication, it is not clear that waterpumps would be installed temporally in geographical clusters.

In [255]:
# make as a function, so can be done twice
def construction_year_helper(df):
    """
    BASED ON gps_helper function
    INPUT is the whole dataframe, so that you can easily traverse rows and columns
    OUTPUT is a single-column df that has the new construction_year
    IDEA: if construction_year is zero, iterate df to find matches for all chosen comparison variables.
    If all match, add the iterative row's year to a list and take average of list at end. Put that into 
    output df's entry.
    Is somewhat complex as cannot directly change df's construction_year values
    """
    # input df needs to be reindexed to begin at zero
    df = df.reset_index(drop=True)
    
    # Sadly, need to create an output df that is added later, outside this function
    list0 = [0] * df.shape[0]
    df_year = pd.DataFrame(list0, columns=['construction_year*'])
    for i in range(df.shape[0]):
        if df.loc[i]['construction_year'] != 0:
            df_year.loc[i]['construction_year*'] = df.loc[i]['construction_year']
            pass 
        else:
            # initialise list that you will put matching years into
            matching_years = []
            for j in range(df.shape[0]):
                # Many construction_year = 0, so not using these
                if (j != i) and (df.loc[j]['construction_year'] != 0):
                    # using a counter for readability
                    counter = 0
                    if df.loc[j]['installer'] == df.loc[j]['installer']:
                        counter += 1
                    if df.loc[j]['scheme_management'] == df.loc[j]['scheme_management']:
                        counter += 1   
                    if df.loc[j]['extraction_type_group'] == df.loc[j]['extraction_type_group']:
                        counter += 1 
                    if df.loc[j]['status_group'] == df.loc[j]['status_group']:
                        counter += 1     
                    # check if all items match
                    if counter == 4:
                        # if yes, add to matching_years
                        matching_years.append(df.loc[j]['construction_year'])
                    else:
                        pass

            # now need to get average year of the matches   
            average_year = sum(matching_years)/len(matching_years)
            z = round(average_year)
            df_year.loc[i]['construction_year*'] = z

        
    zero_count = 0
    for m in range(df.shape[0]):
        if df_year.loc[m]['construction_year*'] == 0:
            zero_count += 1
    
    print("number of zero years is: {}".format(zero_count))
    return df_year

Create a small copy of select_data on which to test and check.

In [256]:
mini_data = copy.deepcopy(select_data[:30])
temp = construction_year_helper(mini_data)
temp
# # drop old construction_year column and add new construction_year column (here temp)
mini_data = mini_data.drop('construction_year', axis=1)
# # Append a column to df
mini_data.insert(13, 'construction_year', temp)
mini_data.head()

number of zero years is: 0

,id,date_recorded,season_recorded,gps_height,installer,longitude,latitude,basin,region_code,population,...,construction_year,extraction_type_group,management_group,payment_type,water_quality,quantity_group,source_type,source_class,waterpoint_type_group,status_group
0,69572,2011-03-14,long_rainy,1390,Roman,34.938093,-9.856322,Lake Nyasa,11,109,...,1999,gravity,user-group,annually,soft,enough,spring,groundwater,communal standpipe,functional
1,8776,2013-03-06,long_rainy,1399,GRUMETI,34.698766,-2.147466,Lake Victoria,20,280,...,2010,gravity,user-group,never pay,soft,insufficient,rainwater harvesting,surface,communal standpipe,functional
2,34310,2013-02-25,short_dry,686,World vision,37.460664,-3.821329,Pangani,21,250,...,2009,gravity,user-group,per bucket,soft,enough,dam,surface,communal standpipe,functional
3,67743,2013-01-28,short_dry,263,UNICEF,38.486161,-11.155298,Ruvuma / Southern Coast,90,58,...,1986,submersible,user-group,never pay,soft,dry,borehole,groundwater,communal standpipe,non functional
4,19728,2011-07-13,long_dry,0,Artisan,31.130847,-1.825359,Lake Victoria,18,0,...,1998,gravity,other,never pay,soft,seasonal,rainwater harvesting,surface,communal standpipe,functional

**To Do:** Run construction_year_helper on the complete data set that you want to use. No need to run twice as seems to have no zero entries. (Shouldn't do by its construction.)

### 3D. wpt_age variable

In [257]:
print(type(select_data['date_recorded'][1]))
print(type(select_data['construction_year'][1]))

<class 'str'>
<class 'numpy.int64'>

A significant issue was that a lot of missing contruction_year. That is now solved by the construction_year_helper, above.

Now need to change year recorded into a numerical value from a string.

In [258]:
# just testing
x = '2013'
y = int(x)
print(y, type(y))
z = float(x)
print(z, type(z))

2013 <class 'int'>
2013.0 <class 'float'>

In [374]:
# create helper function and test
def year_convert(date_recorded):
    """
    takes custom string (e.g. '2013-04-17') and converts to a float
    is not super accurate as assumes all months have 31 days
    
    """
    year = float(date_recorded[:4])
    month = float(date_recorded[5:7])
    day = float(date_recorded[8:])
    
    return year + ((month - 1) / 12) + (day / (31*12)) 

year_convert('2013-02-28')

2013.1586021505375

Create a separate new df called wpt_age, and then add to global df.

Test on a smaller data set.

In [260]:
df_wpt_age = mini_data['date_recorded'].apply(year_convert) - mini_data['construction_year']
df_wpt_age.head()

0    12.204301
1     3.182796
2     4.150538
3    27.075269
4    13.534946
dtype: float64

Now add to global dataset

In [261]:
mini_data.insert(14, 'wpt_age', df_wpt_age)
mini_data.head()

,id,date_recorded,season_recorded,gps_height,installer,longitude,latitude,basin,region_code,population,...,wpt_age,extraction_type_group,management_group,payment_type,water_quality,quantity_group,source_type,source_class,waterpoint_type_group,status_group
0,69572,2011-03-14,long_rainy,1390,Roman,34.938093,-9.856322,Lake Nyasa,11,109,...,12.204301,gravity,user-group,annually,soft,enough,spring,groundwater,communal standpipe,functional
1,8776,2013-03-06,long_rainy,1399,GRUMETI,34.698766,-2.147466,Lake Victoria,20,280,...,3.182796,gravity,user-group,never pay,soft,insufficient,rainwater harvesting,surface,communal standpipe,functional
2,34310,2013-02-25,short_dry,686,World vision,37.460664,-3.821329,Pangani,21,250,...,4.150538,gravity,user-group,per bucket,soft,enough,dam,surface,communal standpipe,functional
3,67743,2013-01-28,short_dry,263,UNICEF,38.486161,-11.155298,Ruvuma / Southern Coast,90,58,...,27.075269,submersible,user-group,never pay,soft,dry,borehole,groundwater,communal standpipe,non functional
4,19728,2011-07-13,long_dry,0,Artisan,31.130847,-1.825359,Lake Victoria,18,0,...,13.534946,gravity,other,never pay,soft,seasonal,rainwater harvesting,surface,communal standpipe,functional

**To Do:** Run year_convert on the complete data set that you want to use. Add the single-column df to the global dataset.

### 3E. Applying improvements to global data frame

In [262]:
select_data.to_csv('/Users/RAhmed/data store/Wesleyan_Capstone/select_data.csv')

Will use select_data as basis, making a copy.

Basically, quite a nightmare as the above codes don't work on the whole data set.  Issue is that iterating over i,j for 59,400 items is an O(N^2) issue. So I broke into (pre-sorted on latitude) tranches of 5000 observations. (Last is smaller.)  Then ran inside that; still did not work.

Rewrote code on a more vectorised basis with help from wonderful internet article (Roland Jeannier).  That worked for the sets of 5,000. Did operations on both gps_year, construction_year. Then concatenated back together.

Used some 'Factory Files' (not in Jupyter) that just did the donkey work. (See Capstone_factory07.py through to 09.py.)  

The put back together data is in file corrected_data01.csv.

### 4. Preliminary data exploration

Use Roland Jeannier's code.
https://medium.com/@rtjeannier/pandas-101-fbb5bf86a9bc

In [263]:
def eda_helper(df):
   dict_list = []
   for col in df.columns:
       data = df[col]
       dict_ = {}
       # The null count for a column. 
       dict_.update({"null_count" : data.isnull().sum()})
       # Counting the unique values in a column
       dict_.update({"unique_count" : len(data.unique())})
       # Finding the types of data in the column
       # This is useful for finding out potential problems with type mismatches
       dict_.update({"data_type" : set([type(d).__name__ for d in data])})
       #dict_.update({"score" : match[1]})
       dict_list.append(dict_)
   eda_df = pd.DataFrame(dict_list)
   eda_df.index = df.columns
   eda_df.sort_values(by=['null_count', 'unique_count'], ascending=[True, False], inplace=True)
       
   return eda_df

Now read in corrected_data01.csv as a dataframe. Use eda_helper.

In [319]:
df = pd.read_csv('/Users/RAhmed/data store/Wesleyan_Capstone/corrected_data01.csv')
# reindex for good luck
df.reset_index(drop=True, inplace=True)
# run eda_helper
print(eda_helper(df))

                           data_type  null_count  unique_count
id                             {int}           0          9400
longitude                    {float}           0          7589
latitude                     {float}           0          7589
gps_height                     {int}           0          1580
population                     {int}           0           432
date_recorded                  {str}           0           184
construction_year              {int}           0            49
extraction_type_group          {str}           0            12
region_code                    {int}           0            11
water_quality                  {str}           0             8
payment_type                   {str}           0             7
source_type                    {str}           0             7
basin                          {str}           0             5
management_group               {str}           0             5
quantity_group                 {str}           0             5
season_recorded                {str}           0             4
waterpoint_type_group          {str}           0             4
source_class                   {str}           0             3
status_group                   {str}           0             3
permit                 {bool, float}         127             3
installer               {str, float}         194           467
scheme_management       {str, float}        3143            11
public_meeting         {bool, float}        7291             3

There is an seeming anomaly: says there were 9400 unique ids. However, I reindexed and still same. Also, I  visually checked, indices are unique.

The following check confirms.

In [320]:
print(df.index)

RangeIndex(start=0, stop=59400, step=1)

### What can you see globally?

abc

In [321]:
# Lost categorisation - need to redo.

In [322]:
# Null counts only in some places.

In [323]:
df.head()

,id,date_recorded,season_recorded,gps_height,installer,longitude,latitude,basin,region_code,population,...,construction_year,extraction_type_group,management_group,payment_type,water_quality,quantity_group,source_type,source_class,waterpoint_type_group,status_group
0,20163,2013-02-17,short_dry,330,DANIDA,37.351138,-11.649440,Ruvuma / Southern Coast,10,1,...,1994,swn 80,user-group,annually,soft,insufficient,borehole,groundwater,hand pump,functional needs repair
1,42800,2013-02-17,short_dry,327,DANIDA,37.351869,-11.648378,Ruvuma / Southern Coast,10,1,...,1994,swn 80,user-group,annually,soft,enough,borehole,groundwater,hand pump,functional needs repair
2,57360,2013-02-14,short_dry,439,TASAF,37.082702,-11.586297,Ruvuma / Southern Coast,10,1,...,2010,swn 80,user-group,never pay,soft,insufficient,borehole,groundwater,hand pump,non functional
3,338,2013-02-23,short_dry,559,MKONGO BUILDING CONTRACTOR,36.463786,-11.568577,Ruvuma / Southern Coast,10,450,...,2011,other,unknown,unknown,soft,unknown,borehole,groundwater,other,non functional
4,51453,2013-02-23,short_dry,568,DWE,36.465277,-11.566805,Ruvuma / Southern Coast,10,250,...,2003,swn 80,user-group,monthly,soft,dry,shallow well,groundwater,hand pump,non functional

In [324]:
df['longitude'].value_counts()[0]

1812

In [325]:
lat_counts = df['latitude'].value_counts()
lat_counts

-2.000000e-08    1812
-1.051640e+01      11
-1.098870e+01      11
-1.146080e+01      11
-1.059158e+01      11
-1.032359e+01      11
-1.059156e+01      11
-1.053166e+01      11
-1.018845e+01      11
-1.020537e+01      11
-1.054780e+01      11
-1.107543e+01      11
-1.074786e+01      11
-1.080344e+01      11
-1.049579e+01      11
-1.050631e+01      11
-1.066081e+01      11
-1.084027e+01      11
-1.063705e+01      11
-1.095017e+01      11
-1.093652e+01      11
-1.060889e+01      11
-1.103998e+01      11
-1.050161e+01      11
-1.057971e+01      11
-1.103403e+01      11
-1.112010e+01      11
-1.013536e+01      11
-1.059164e+01      11
-1.027325e+01      11
                 ...
-1.197934e+00       1
-1.563546e+00       1
-1.256340e+00       1
-1.353201e+00       1
-1.481205e+00       1
-1.303950e+00       1
-1.461378e+00       1
-1.679622e+00       1
-1.653660e+00       1
-1.290368e+00       1
-1.365257e+00       1
-1.702833e+00       1
-1.224998e+00       1
-1.122457e+00       1
-1.300804e+00       1
-1.414554e+00       1
-1.251062e+00       1
-1.640548e+00       1
-1.403907e+00       1
-1.028736e+00       1
-1.710708e+00       1
-1.249707e+00       1
-1.177726e+00       1
-1.542520e+00       1
-1.599536e+00       1
-1.725612e+00       1
-1.410669e+00       1
-1.314901e+00       1
-1.253494e+00       1
-1.540609e+00       1
Name: latitude, Length: 7589, dtype: int64

In [326]:
df['gps_height'].value_counts()[0]

3487

In [327]:
df['population'].value_counts()

1        12574
0         7491
250       2322
60        2176
300       2165
200       1694
500       1264
400       1250
120       1189
350       1132
50         994
150        920
80         860
96         792
450        766
600        712
90         698
86         682
30         675
100        633
360        609
320        507
230        466
56         441
420        421
1000       376
1200       353
700        324
650        298
180        298
         ...
544          1
501          1
655          1
393          1
1305         1
662          1
780          1
556          1
834          1
2445         1
458          1
3832         1
889          1
643          1
10000        1
660          1
548          1
2198         1
6800         1
563          1
3200         1
2450         1
386          1
732          1
869          1
734          1
4500         1
753          1
710          1
990          1
Name: population, Length: 432, dtype: int64

In [328]:
df['extraction_type_group'].value_counts()

gravity            22450
submersible         9307
other               8661
swn 80              5262
india mark ii       5232
nira/tanira         4190
mono                2496
other handpump      1122
afridev              280
india mark iii       194
rope pump            189
other motorpump       17
Name: extraction_type_group, dtype: int64

In [329]:
df['water_quality'].value_counts()

soft                  49842
salty                  5904
unknown                2507
milky                   498
coloured                355
salty abandoned         267
fluoride                 25
fluoride abandoned        2
Name: water_quality, dtype: int64

In [330]:
# population needs bins

In [331]:
df['payment_type'].value_counts()

never pay     17050
per bucket    11834
unknown       11196
monthly        8554
on failure     5301
annually       4821
other           644
Name: payment_type, dtype: int64

In [332]:
df['source_type'].value_counts()

borehole                18560
shallow well            15991
spring                  14033
river/lake               9338
rainwater harvesting      990
dam                       391
other                      97
Name: source_type, dtype: int64

In [333]:
df['basin'].value_counts()

Ruvuma / Southern Coast    40843
Lake Nyasa                 11330
Lake Victoria               4301
Rufiji                      2827
Lake Tanganyika               99
Name: basin, dtype: int64

In [334]:
df['management_group'].value_counts()

user-group    54727
parastatal     1556
other          1210
commercial     1046
unknown         861
Name: management_group, dtype: int64

In [335]:
df['quantity_group'].value_counts()

enough          27363
dry             15174
insufficient    11294
seasonal         4925
unknown           644
Name: quantity_group, dtype: int64

In [336]:
df['season_recorded'].value_counts()

short_dry      46170
long_dry        6483
long_rainy      5749
short_rainy      998
Name: season_recorded, dtype: int64

In [337]:
df['waterpoint_type_group'].value_counts()

communal standpipe    34358
hand pump             16871
other                  7741
improved spring         430
Name: waterpoint_type_group, dtype: int64

In [338]:
df['source_class'].value_counts()

groundwater    48584
surface        10719
unknown           97
Name: source_class, dtype: int64

In [339]:
df['permit'].value_counts()

True     37492
False    21781
Name: permit, dtype: int64

In [340]:
df['installer'].value_counts()

DWE                           11013
DANIDA                         8129
LGA                            4477
Government                     3197
FinW                           2288
FW                             1903
Fini Water                     1617
UNICEF                         1540
TASAF                          1343
Fini water                     1265
Amref                          1254
Unisef                         1078
MWE                            1034
District Council                935
Jaica                           903
Region water Department         836
District Water Department       836
Finwater                        682
FIN WATER                       649
JAICA                           595
District water department       583
FINI WATER                      528
Mission                         451
JICA                            446
GEN                             429
MBIUWASA                        385
VWC                             352
KIUMA                           352
GOVERNMENT                      352
FinWater                        319
                              ...
Scholastica Pankrasi              1
KAEM                              1
Justine Marwa                     1
Zao water spring X                1
LDEP                              1
Matiiti                           1
Kinga                             1
Buguba                            1
BAPTIST CHURCH OF TANZANIA        1
Grobal resource  alliance         1
Wizara  ya maji                   1
Mwita Lucas                       1
Mbusi Mwita                       1
Gesine                            1
Cathoric                          1
Busoga trust                      1
Rural water Supply                1
TASA                              1
Goldmain                          1
DASP                              1
Hesewa                            1
Kanisani                          1
AICT                              1
Mgaya Masese                      1
World bank                        1
Motiba Manyanya                   1
Local technitian                  1
Deus Ndege                        1
William Acles                     1
Hesawz                            1
Name: installer, Length: 466, dtype: int64

In [341]:
df['scheme_management'].value_counts()

VWC                 43259
WUG                  5943
Water Board          3169
Other                1125
WUA                  1018
Parastatal            875
Private operator      503
Water authority       332
Trust                  22
Company                11
Name: scheme_management, dtype: int64

In [342]:
df['public_meeting'].value_counts()

True     47359
False     4750
Name: public_meeting, dtype: int64

In [343]:
df['status_group'].value_counts()

non functional             29728
functional                 25578
functional needs repair     4094
Name: status_group, dtype: int64

In [344]:
# population_needs bins
# look at sorting first to visually inspect potential bins
popn_df = df['population'].value_counts().items()
temp = {}
for k, v in popn_df:
    temp.update({k:v})
sorted(temp.items(), key=lambda x: x[0], reverse=True)

[(10000, 1),
 (8000, 11),
 (7500, 13),
 (7000, 11),
 (6800, 1),
 (6000, 12),
 (5600, 11),
 (5500, 22),
 (5050, 11),
 (5016, 11),
 (5000, 37),
 (4500, 1),
 (4000, 26),
 (3832, 1),
 (3800, 12),
 (3750, 1),
 (3560, 11),
 (3500, 19),
 (3200, 1),
 (3127, 11),
 (3050, 11),
 (3000, 80),
 (2600, 11),
 (2531, 11),
 (2530, 22),
 (2500, 48),
 (2461, 1),
 (2450, 1),
 (2445, 1),
 (2345, 11),
 (2300, 22),
 (2238, 11),
 (2198, 1),
 (2150, 11),
 (2100, 22),
 (2000, 199),
 (1960, 1),
 (1950, 11),
 (1903, 2),
 (1900, 2),
 (1885, 11),
 (1840, 1),
 (1839, 11),
 (1800, 57),
 (1745, 11),
 (1700, 33),
 (1650, 22),
 (1600, 46),
 (1550, 11),
 (1530, 11),
 (1523, 11),
 (1520, 11),
 (1506, 11),
 (1500, 124),
 (1450, 11),
 (1400, 55),
 (1305, 1),
 (1300, 78),
 (1250, 22),
 (1234, 22),
 (1230, 22),
 (1205, 11),
 (1200, 353),
 (1160, 11),
 (1140, 1),
 (1100, 13),
 (1090, 11),
 (1054, 11),
 (1034, 11),
 (1010, 11),
 (1000, 376),
 (990, 1),
 (980, 11),
 (960, 12),
 (950, 44),
 (906, 11),
 (905, 11),
 (900, 221),
 (893, 11),
 (889, 1),
 (869, 1),
 (860, 37),
 (850, 73),
 (834, 1),
 (830, 23),
 (827, 2),
 (820, 11),
 (816, 22),
 (814, 11),
 (810, 11),
 (800, 266),
 (793, 3),
 (790, 11),
 (780, 1),
 (770, 11),
 (760, 22),
 (755, 2),
 (753, 1),
 (750, 191),
 (743, 22),
 (735, 3),
 (734, 1),
 (732, 1),
 (720, 56),
 (710, 1),
 (703, 11),
 (701, 11),
 (700, 324),
 (690, 14),
 (685, 12),
 (682, 11),
 (680, 36),
 (678, 11),
 (674, 2),
 (670, 11),
 (662, 1),
 (660, 1),
 (658, 12),
 (657, 11),
 (655, 1),
 (654, 11),
 (653, 11),
 (650, 298),
 (643, 1),
 (640, 11),
 (639, 11),
 (638, 11),
 (630, 110),
 (629, 11),
 (620, 143),
 (618, 11),
 (610, 12),
 (608, 11),
 (600, 712),
 (591, 11),
 (590, 35),
 (581, 4),
 (580, 102),
 (571, 11),
 (569, 11),
 (568, 11),
 (567, 33),
 (564, 11),
 (563, 1),
 (560, 248),
 (556, 1),
 (553, 11),
 (550, 167),
 (548, 1),
 (546, 22),
 (545, 11),
 (544, 1),
 (540, 188),
 (537, 11),
 (531, 2),
 (530, 113),
 (529, 2),
 (524, 11),
 (523, 13),
 (520, 70),
 (513, 11),
 (512, 33),
 (510, 33),
 (504, 11),
 (502, 22),
 (501, 1),
 (500, 1264),
 (498, 11),
 (495, 22),
 (490, 44),
 (487, 11),
 (486, 2),
 (485, 22),
 (480, 145),
 (478, 22),
 (475, 45),
 (470, 22),
 (467, 11),
 (465, 11),
 (460, 77),
 (459, 11),
 (458, 1),
 (457, 11),
 (456, 58),
 (455, 12),
 (453, 22),
 (452, 33),
 (450, 766),
 (447, 11),
 (444, 22),
 (443, 22),
 (442, 11),
 (440, 11),
 (438, 11),
 (435, 44),
 (433, 11),
 (432, 12),
 (430, 133),
 (428, 11),
 (425, 22),
 (423, 44),
 (420, 421),
 (415, 23),
 (412, 11),
 (410, 45),
 (407, 11),
 (406, 11),
 (405, 66),
 (403, 22),
 (402, 11),
 (400, 1250),
 (396, 22),
 (393, 1),
 (390, 66),
 (386, 1),
 (385, 23),
 (380, 150),
 (378, 11),
 (375, 67),
 (370, 55),
 (365, 11),
 (360, 609),
 (356, 6),
 (355, 11),
 (354, 11),
 (353, 11),
 (352, 33),
 (350, 1132),
 (349, 11),
 (346, 11),
 (345, 121),
 (344, 11),
 (342, 33),
 (341, 11),
 (340, 154),
 (339, 11),
 (338, 11),
 (335, 13),
 (330, 78),
 (328, 11),
 (326, 22),
 (325, 33),
 (324, 33),
 (322, 22),
 (321, 33),
 (320, 507),
 (317, 11),
 (312, 23),
 (310, 55),
 (309, 11),
 (308, 12),
 (306, 11),
 (305, 55),
 (304, 22),
 (303, 11),
 (302, 23),
 (300, 2165),
 (299, 11),
 (298, 33),
 (295, 11),
 (290, 66),
 (288, 11),
 (285, 11),
 (284, 11),
 (281, 11),
 (280, 144),
 (278, 22),
 (275, 55),
 (272, 11),
 (270, 132),
 (269, 13),
 (268, 22),
 (266, 11),
 (264, 11),
 (261, 22),
 (260, 254),
 (259, 22),
 (258, 5),
 (256, 110),
 (255, 45),
 (254, 12),
 (253, 13),
 (250, 2322),
 (248, 11),
 (247, 11),
 (246, 33),
 (245, 22),
 (244, 22),
 (243, 11),
 (242, 11),
 (241, 22),
 (240, 154),
 (238, 11),
 (237, 11),
 (236, 12),
 (235, 34),
 (234, 132),
 (232, 11),
 (231, 88),
 (230, 466),
 (229, 22),
 (226, 11),
 (225, 77),
 (222, 11),
 (221, 11),
 (220, 155),
 (218, 11),
 (217, 11),
 (215, 33),
 (213, 44),
 (212, 11),
 (210, 167),
 (209, 44),
 (208, 11),
 (206, 11),
 (205, 110),
 (203, 22),
 (200, 1694),
 (196, 11),
 (195, 22),
 (190, 77),
 (189, 11),
 (188, 22),
 (185, 13),
 (183, 22),
 (182, 11),
 (181, 22),
 (180, 298),
 (179, 11),
 (175, 33),
 (172, 11),
 (170, 11),
 (168, 22),
 (167, 22),
 (165, 22),
 (163, 11),
 (160, 243),
 (158, 22),
 (156, 211),
 (154, 11),
 (153, 22),
 (150, 920),
 (147, 11),
 (146, 11),
 (145, 55),
 (143, 55),
 (142, 22),
 (140, 67),
 (135, 22),
 (134, 33),
 (133, 11),
 (132, 11),
 (130, 178),
 (129, 11),
 (128, 11),
 (127, 33),
 (126, 77),
 (125, 154),
 (124, 33),
 (123, 165),
 (120, 1189),
 (117, 11),
 (116, 22),
 (114, 22),
 (110, 77),
 (109, 33),
 (108, 33),
 (106, 11),
 (105, 110),
 (103, 55),
 (102, 22),
 (101, 11),
 (100, 633),
 (99, 55),
 (98, 55),
 (96, 792),
 (95, 56),
 (93, 11),
 (90, 698),
 (89, 210),
 (88, 44),
 (86, 682),
 (85, 34),
 (84, 11),
 (83, 22),
 (81, 11),
 (80, 860),
 (79, 33),
 (78, 33),
 (76, 11),
 (75, 177),
 (70, 183),
 (69, 165),
 (68, 66),
 (65, 132),
 (63, 121),
 (62, 11),
 (60, 2176),
 (58, 33),
 (56, 441),
 (55, 88),
 (53, 88),
 (52, 11),
 (51, 22),
 (50, 994),
 (49, 11),
 (48, 34),
 (46, 11),
 (45, 254),
 (44, 33),
 (42, 11),
 (41, 11),
 (40, 271),
 (39, 22),
 (38, 11),
 (36, 132),
 (35, 89),
 (34, 11),
 (33, 34),
 (32, 12),
 (30, 675),
 (25, 100),
 (24, 11),
 (23, 33),
 (22, 11),
 (20, 152),
 (15, 12),
 (14, 11),
 (10, 16),
 (6, 11),
 (1, 12574),
 (0, 7491)]

In [345]:
# good 'category' bins look like 0, 1, 2-20, 20-30, 30-50, 50-100, 100-200, 200-300, 300-500, 500-1000, > 1000
# can do that after. Method will be create a category with a string name

In [346]:
#Â function to create bins for population variable
def popn_bins(population):
    if population == 0:
        return '0'
    elif population == 1:
        return '1'
    elif 2 <= population <  20:
        return '20'
    elif 20 <= population <  30:
        return '30'
    elif 30 <= population <  50:
        return '50'
    elif 50 <= population <  100:
        return '100'
    elif 100 <= population <  200:
        return '100'
    elif 200 <= population <  300:
        return '100'
    elif 300 <= population <  500:
        return '500'
    elif 500 <= population <  1000:
        return '1000'
    else:
        return '1000+'

# for item in df.population:
#     print(item, type(item))
#Â run function on df
df.population = df.population.apply(popn_bins)

In [347]:
df.head()

,id,date_recorded,season_recorded,gps_height,installer,longitude,latitude,basin,region_code,population,...,construction_year,extraction_type_group,management_group,payment_type,water_quality,quantity_group,source_type,source_class,waterpoint_type_group,status_group
0,20163,2013-02-17,short_dry,330,DANIDA,37.351138,-11.649440,Ruvuma / Southern Coast,10,1,...,1994,swn 80,user-group,annually,soft,insufficient,borehole,groundwater,hand pump,functional needs repair
1,42800,2013-02-17,short_dry,327,DANIDA,37.351869,-11.648378,Ruvuma / Southern Coast,10,1,...,1994,swn 80,user-group,annually,soft,enough,borehole,groundwater,hand pump,functional needs repair
2,57360,2013-02-14,short_dry,439,TASAF,37.082702,-11.586297,Ruvuma / Southern Coast,10,1,...,2010,swn 80,user-group,never pay,soft,insufficient,borehole,groundwater,hand pump,non functional
3,338,2013-02-23,short_dry,559,MKONGO BUILDING CONTRACTOR,36.463786,-11.568577,Ruvuma / Southern Coast,10,500,...,2011,other,unknown,unknown,soft,unknown,borehole,groundwater,other,non functional
4,51453,2013-02-23,short_dry,568,DWE,36.465277,-11.566805,Ruvuma / Southern Coast,10,100,...,2003,swn 80,user-group,monthly,soft,dry,shallow well,groundwater,hand pump,non functional

### Installer

In [350]:
df.population[:25]

0         1
1         1
2         1
3       500
4       100
5       500
6       500
7       500
8       100
9       100
10     1000
11     1000
12      100
13    1000+
14      500
15      500
16    1000+
17      500
18      500
19      500
20      500
21      500
22        1
23      500
24        1
Name: population, dtype: object

In [351]:
# A lot of work on installer needed.
# look at sorting first to visually inspect potential bins
installer_df = df['installer'].value_counts().items()
temp1 = {}
for k, v in installer_df:
    temp1.update({k:v})
sorted(temp1.items(), key=lambda x: x[0], reverse=False)

[('A.D.B', 1),
 ('ABASIA', 319),
 ('ACTION AID', 11),
 ('AD', 4),
 ('AGRICAN', 1),
 ('AIC', 7),
 ('AICT', 1),
 ('AIMGOLD', 9),
 ('AMREF', 20),
 ('ANGRIKANA', 4),
 ('APM', 2),
 ('ASDP', 2),
 ('Aartisa', 1),
 ('Adra', 1),
 ('Afroz Ismail', 11),
 ('Ambrose', 1),
 ('Amref', 1254),
 ('Ansnani Murij', 11),
 ('Ar', 2),
 ('Arisan', 1),
 ('Arrian', 1),
 ('Artisan', 38),
 ('BAPTIST CHURCH OF TANZANIA', 1),
 ('BENGUKA', 7),
 ('BRUDER', 176),
 ('BUMABU', 1),
 ('Babu Sajin', 11),
 ('Babu Sajini', 11),
 ('Baric', 7),
 ('Bhoke Mwita', 1),
 ('Birage', 1),
 ('Boni', 1),
 ('Buguba', 1),
 ('Busoga trust', 1),
 ('CARITAS', 1),
 ('CCT', 99),
 ('CF Builders', 1),
 ('CHANI', 22),
 ('CHENI', 33),
 ('CHINA', 44),
 ('CITIZEN ENGINE', 17),
 ('CJEJ0', 11),
 ('CJEJOW', 33),
 ('CJEJOW CONSTRUCTION', 297),
 ('COCU', 11),
 ('CONCERN', 33),
 ('CSPD', 2),
 ('Caltus', 22),
 ('Care international', 8),
 ('Cast', 44),
 ('Cathoric', 1),
 ('Central government', 3),
 ('Chacha', 1),
 ('Chacha Issame', 1),
 ('Christina Magoge', 1),
 ('Cida', 1),
 ('Colonial Government', 22),
 ('Community', 25),
 ('Concen', 44),
 ('Concern', 11),
 ('D$L', 11),
 ('DALDO', 8),
 ('DANIAD', 11),
 ('DANID', 11),
 ('DANIDA', 8129),
 ('DANIDS', 11),
 ('DARDO', 6),
 ('DASIP', 3),
 ('DASP', 1),
 ('DASSIP', 2),
 ('DBFPE', 33),
 ('DBSP', 11),
 ('DBSPE', 33),
 ('DDCA', 47),
 ('DDP', 2),
 ('DED', 1),
 ('DIMON', 11),
 ('DW', 37),
 ('DW#', 1),
 ('DWE', 11013),
 ('DWE & LWI', 1),
 ('DWR', 3),
 ('DWW', 1),
 ('Dar es salaam Technician', 11),
 ('Deus Ndege', 1),
 ('Dina', 1),
 ('Distric Water Department', 11),
 ('District Council', 935),
 ('District Water Department', 836),
 ('District water department', 583),
 ('Dr. Matobola', 44),
 ('Dr. Matomola', 99),
 ('Dr.Matobola', 33),
 ('Dr.Matomola', 11),
 ('EL', 7),
 ('ELCT', 2),
 ('Elias Mahemba', 2),
 ('Elius Chacha', 1),
 ('Engin', 33),
 ('Ester Ndege', 1),
 ('FIN WATER', 649),
 ('FINI WATER', 528),
 ('FINI Water', 11),
 ('FW', 1903),
 ('Fin Water', 11),
 ('Fin water', 22),
 ('FinW', 2288),
 ('FinWate', 11),
 ('FinWater', 319),
 ('Fini Water', 1617),
 ('Fini water', 1265),
 ('Finland Government', 143),
 ('Finwater', 682),
 ('GEN', 429),
 ('GERMANY MISSIONARY', 88),
 ('GETDSC00', 1),
 ('GGM', 1),
 ('GOVERNMENT', 352),
 ('GRA', 3),
 ('GRA TZ MUSOMA', 1),
 ('GRUMET', 1),
 ('GRUMETI', 3),
 ('Geita Goldmain', 3),
 ('Gesine', 1),
 ('Goldmain', 1),
 ('Goldwill  foundation', 1),
 ('Got', 11),
 ('Government', 3197),
 ('Government and Community', 22),
 ('Great Lakes', 1),
 ('Grobal resource  alliance', 1),
 ('Grobal resource alliance', 15),
 ('HASHI', 1),
 ('HE', 52),
 ('HESAWA', 91),
 ('HOLLAND', 29),
 ('HSW', 53),
 ('Halmashauri ya wilaya', 2),
 ('Hamis Makombo', 11),
 ('Hasawa', 1),
 ('Hasnein Murij', 11),
 ('Hesawa', 249),
 ('Hesawz', 1),
 ('Hesewa', 1),
 ('Hindu', 3),
 ('IFAD', 21),
 ('INDIVIDUALS', 22),
 ('Individuals', 198),
 ('Insititutiona', 1),
 ('Institution', 2),
 ('Islamic', 1),
 ('Issa Mohamedi Tumwanga', 11),
 ('J LH CO LTD', 11),
 ('JAICA', 595),
 ('JAPAN EMBASSY', 33),
 ('JHL CO LTD', 22),
 ('JICA', 446),
 ('JLH CO LTD', 44),
 ('JSICA', 1),
 ('Jackson Makore', 1),
 ('Jaica', 903),
 ('Japan Government', 11),
 ('Jeshi la Wokovu', 1),
 ('Jeshi la wokovu', 2),
 ('Jeshi la wokovu [cida]', 1),
 ('Jika', 2),
 ('Juma', 1),
 ('Juma Maro', 2),
 ('Juma Ndege', 1),
 ('Jumanne', 1),
 ('Jumuhia', 11),
 ('Jumuiya', 11),
 ('Justine Marwa', 1),
 ('K/Primary', 1),
 ('KA', 18),
 ('KAEM', 1),
 ('KAEMP', 30),
 ('KARUMBA BIULDIN', 11),
 ('KARUMBA BIULDING COMPANY LTD', 11),
 ('KARUMBA BIULDING CONTRACTOR', 11),
 ('KARUMBA BUILDING COMPANY LTD', 22),
 ('KAWINGA', 1),
 ('KAYEMPU LTD', 1),
 ('KIUMA', 352),
 ('KK', 1),
 ('KKKT', 1),
 ('KMCL', 10),
 ('KMT', 1),
 ('KOBERG', 11),
 ('KOBERG Contractor', 33),
 ('KOICA', 1),
 ('KYASHA ENTERPR', 23),
 ('KYASHA ENTREPR', 3),
 ('KYELA_MOROGORO', 11),
 ('Kahema', 1),
 ('Kajima', 11),
 ('Kanisa', 3),
 ('Kanisani', 1),
 ('Kilimarondo Parish', 11),
 ('Kilwa company', 66),
 ('Kinga', 1),
 ('Kokeni', 198),
 ('LDEP', 1),
 ('LEI', 1),
 ('LGA', 4477),
 ('LGCDG', 11),
 ('LGQ', 11),
 ('LIPS', 22),
 ('LOCAL CONTRACT', 31),
 ('LWI', 60),
 ('LWI &CENTRAL GOVERNMENT', 1),
 ('Lga', 55),
 ('Lindi contractor', 11),
 ('Local technitian', 1),
 ('M and P', 11),
 ('MACK DONALD CO LTD', 11),
 ('MACK DONALD CONTRACTOR', 77),
 ('MACK DONALD CONTRSCTOR', 11),
 ('MANDIA CONSTRUCTION', 11),
 ('MARAFIP', 20),
 ('MASWI', 1),
 ('MBIUSA', 11),
 ('MBIUWASA', 385),
 ('MD', 1),
 ('MISHENI', 11),
 ('MISSION', 88),
 ('MKON CONSTRUCTION', 11),
 ('MKONG CONSTRUCTION', 11),
 ('MKONGO BUILDING CONTRACTOR', 11),
 ('MKONGO CONSTRUCTION', 11),
 ('MORNING CONSTRUCTION', 11),
 ('MSUKWA CONSTRUCTION COMPANY', 11),
 ('MTN', 65),
 ('MTUWASA', 253),
 ('MTUWASA and Community', 33),
 ('MW', 11),
 ('MWAKI CONTRACTO', 11),
 ('MWAKI CONTRACTOR', 33),
 ('MWE', 1034),
 ('MWS', 77),
 ('Maerere', 1),
 ('Magutu Maro', 1),
 ('Mahemba', 1),
 ('Makonde', 77),
 ('Makonde water Population', 11),
 ('Makonde water population', 209),
 ('Makonde water supply', 44),
 ('Makori', 1),
 ('Makundya', 1),
 ('Makuru', 2),
 ('Mama Agnes Kagimbo', 11),
 ('Mama Kapwapwa', 11),
 ('Mambe', 1),
 ('Mara inter product', 1),
 ('Marafip', 6),
 ('Marijan Ally Dadi', 11),
 ('Maro', 2),
 ('Martha Emanuel', 2),
 ('Masese', 1),
 ('Mashaka M', 1),
 ('Masjid Nnre', 11),
 ('Maswi', 2),
 ('Maswi company', 7),
 ('Mataro', 2),
 ('Matiiti', 1),
 ('Matogoro', 1),
 ('Matyenye', 1),
 ('Mayiro', 1),
 ('Mbusi Mwita', 1),
 ('Mgaya', 1),
 ('Mgaya Masese', 1),
 ('Mgaya Mwita', 1),
 ('Mission', 451),
 ('Mkuluku', 11),
 ('Mohamed Ally', 11),
 ('Motiba Manyanya', 1),
 ('Mtwara Technician', 11),
 ('Muhochi Kissaka', 1),
 ('Mwigicho', 2),
 ('Mwita Lucas', 1),
 ('Mwita Machoa', 1),
 ('Mwita Mahiti', 1),
 ('Mwita Muremi', 2),
 ('Mwl.Mwita', 1),
 ('Mzee Salum Bakari Darus', 11),
 ('Mzee Yassin Naya', 11),
 ('NGO', 11),
 ('NIRAD', 22),
 ('NYAHALE', 11),
 ('Nandra Construction', 143),
 ('Nassan workers', 11),
 ('Nchagwa', 1),
 ('Ndanda missions', 242),
 ("Ng'omango", 1),
 ('Not kno', 1),
 ('Nyabarongo Kegoro', 1),
 ('Nyabweta', 1),
 ('Nyakaho Mwita', 1),
 ('Nyakilanganyi', 1),
 ('Nyamongo Gold mining', 4),
 ('Nyangere', 1),
 ('Nyeisa', 1),
 ('Nyitamboka', 1),
 ('OLA', 4),
 ('OLS', 1),
 ("Okong'o", 1),
 ('Others', 1),
 ('PAD', 33),
 ('PART', 3),
 ('Pankrasi', 1),
 ('Pata', 5),
 ('Patrick Nyanzwi', 1),
 ('People from Egypt', 1),
 ('Perusi Bhoke', 1),
 ('Peter Mayiro', 1),
 ('Petro Patrice', 1),
 ('Plan Internationa', 46),
 ('Presadom', 3),
 ('Privat', 1),
 ('Private', 221),
 ('QUICKWINS', 1),
 ('QUKWIN', 11),
 ('QUWKWIN', 187),
 ('QWICKWIN', 12),
 ('R.C', 2),
 ('RC', 145),
 ('RC CATHORIC', 3),
 ('RC church', 1),
 ('RC/Mission', 5),
 ('RE', 3),
 ('RIDEP', 3),
 ('RUNDAGA', 5),
 ('RURAL WATER SUPPLY', 1),
 ('RUVUMA BASIN', 33),
 ('RWE', 80),
 ('RWI', 1),
 ('Raurensia', 1),
 ('Raymond Ekura', 1),
 ('Red Cross', 55),
 ('Region Water Department', 11),
 ('Region water', 11),
 ('Region water Department', 836),
 ('Regional Water', 165),
 ('Rhobi', 1),
 ('Rhobi Wamburs', 1),
 ('Robert Mosi', 1),
 ('Roman', 88),
 ('Ruangwa contractor', 11),
 ('Rural water Supply', 1),
 ('SAXON  BUILDING CONTRACTOR', 11),
 ('SAXON BUILDING CONTRACTOR', 77),
 ('SAXON BUILDING CONTRACTORS', 11),
 ('SCHOOL', 11),
 ('SDA', 16),
 ('SDP', 1),
 ('SELEPTA', 1),
 ('SIJM', 110),
 ('SOWASA', 209),
 ('SUNAMCO', 11),
 ('SUWASA', 33),
 ('SW', 3),
 ('Sabodo', 88),
 ('Sagaswe', 1),
 ('Sakwidi', 1),
 ('Samweli Kitana', 1),
 ('Sangea District Coun', 77),
 ('Scholastica Pankrasi', 1),
 ('Secondary', 2),
 ('Seleman Masoud', 11),
 ('Selikali', 22),
 ('Serikali', 18),
 ('Sh', 1),
 ('Shule', 1),
 ('Simango Kihengu', 1),
 ('Siza Mayengo', 1),
 ('Songea District Coun', 66),
 ('St Elizabeth Majengo', 11),
 ('Stephano Paulo', 1),
 ('Subvillage', 11),
 ('TA', 4),
 ('TANAPA', 10),
 ('TANCRO', 11),
 ('TANROAD', 11),
 ('TASA', 1),
 ('TASAF', 1343),
 ('TASAF 1', 11),
 ('TASAF and Comunity', 11),
 ('TASAF and MMEM', 11),
 ('TASAFcitizen and LGA', 11),
 ('TASF', 11),
 ('TASSAF', 143),
 ('TCRS', 143),
 ('TLTC', 22),
 ('TMN', 1),
 ('TUKWALE ENTERP', 1),
 ('TUKWARE ENTERP', 1),
 ('Tadeo', 1),
 ('Taees', 11),
 ('Taes', 11),
 ('Tanapa', 5),
 ('Tanz Egypt technical coopera', 3),
 ('Tanzania/ Egypt', 1),
 ('Tasaf', 79),
 ('Tasaf and Lga', 11),
 ('Tempo', 22),
 ('Teonas Wambura', 1),
 ('Teresa Munyama', 1),
 ('UMOJA DRILLING', 44),
 ('UMOJA DRILLING CONSTRUCTION', 22),
 ('UMOJA DRILLING CONTRACTOR', 11),
 ('UMOJA DRILLING CONTRUCTO', 11),
 ('UNICEF', 1540),
 ('UNICRF', 11),
 ('Unicef', 22),
 ('Unisef', 1078),
 ('Upendo Group', 1),
 ('VC', 11),
 ('VICF', 1),
 ('VIFAFI', 12),
 ('VIFAI', 1),
 ('VITECOS', 2),
 ('VITECOS INVEST', 1),
 ('VTECOS', 32),
 ('VWC', 352),
 ('VWT', 1),
 ('Victoria company', 22),
 ('Village Govt', 11),
 ('Village government', 11),
 ('Village govt', 22),
 ('Village local contractor', 11),
 ('Village water committee', 22),
 ('W', 2),
 ('W/', 6),
 ('WORLD BANK', 132),
 ('WORLD NK', 11),
 ('WOULD BANK', 89),
 ('WVC', 33),
 ('WVT', 83),
 ('WWF', 3),
 ('Waheke', 1),
 ('Wananchi', 11),
 ('Warento', 1),
 ('Water Project Mbawala chini', 143),
 ('Water use Group', 11),
 ('Water user Group', 11),
 ('Water users Group', 22),
 ('William Acles', 1),
 ('Wizara  ya maji', 1),
 ('Wizara ya maji', 60),
 ('Wizra ya maji na egypt', 1),
 ('World Vision', 22),
 ('World bank', 1),
 ('YELL LTD', 2),
 ('Yakwetu Contractor', 11),
 ('Zacharia MTN', 4),
 ('Zao', 1),
 ('Zao water spring', 3),
 ('Zao water spring X', 1),
 ('care international', 1),
 ('local technitian', 1),
 ('marafip', 1),
 ('nandra Construction', 11),
 ('rc ch', 11),
 ('ter', 11),
 ('wanan', 253),
 ('wizara ya maji', 2)]

In [352]:
# test
test_dict = {'Arisan': {'Arisan', 'Arian', 'Artisan'}, 'Government': {'Government', 'government', 'govt.'}, 'Japan': {'Japan', 'Japan Government'}}

def allocator(name):
    for key, value in test_dict.items():
        temp = []
        for value1 in value:
            temp.append(value1)
        if name in temp:
            return key
        
    return name
        
print(allocator('Arian'))
print(allocator('Cheese'))
print(allocator('govt.'))
print(allocator('Henry'))
print(allocator('Japan'))

Arisan
Cheese
Government
Henry
Japan

In [353]:
# create installer dictionary
installer_dict = {'Artisan': {'Arisan', 'Arian', 'Artisan'}, 
                  'Babu Sajini': {'Babu Sajini', 'Babu Sajin'},
                  'China': {'CHINA'},
                  'CJEJOW': {'CJEJOW', 'CJEJ0', 'CJEJOW CONSTRUCTION'},
                  'Concern': {'Concern', 'Concen'},
                  'DANIDA' : {'DANIDA','DANIAD', 'DANID','DANIDS'},
                  'DASIP' : {'DASIP', 'DASP', 'DASSIP'},
                  'DBSPE': {'DBSPE', 'DBSP'},
                  'DW': {'DW', 'DW#', 'DWE & LWI', 'DWR', 'DWW'},
                  'District Water Department': {'District Water Department', 'Distric Water Department', 
                                                'District water department'},
                  'Dr. Matobola': {'Dr. Matobola', 'Dr.Matobola'},
                  'Dr. Matomola': {'Dr. Matomola','Dr.Matomola'},
                  'EL': {'EL', 'ELCT'},
                  'Egypt': {'People from Egypt', 'Tanz Egypt technical coopera', 'Tanzania/ Egypt', 
                            'Wizra ya maji na egypt'},
                  'Fin Water': {'Fin Water', 'FIN WATER', 'FINI WATER', 'FINI Water','FW', 
                                'Fin water', 'FinW','FinWate','FinWater', 'Fini Water', 
                                'Fini water', 'Finland Government', 'Finwater'},
                  'Government': {'Government', 'GOVERNMENT', 'Government and Community', 'Central government',
                                 'Wizara  ya maji', 'Wizara ya maji', 'wizara ya maji'},
                  'GRA' : {'GRA','GRA TZ MUSOMA'},
                  'GRUMETI':{'GRUMETI', 'GRUMET'},
                  'Grobal resource alliance': {'Grobal resource alliance', 'Grobal resource  alliance'},
                  'Hesawa': {'Hesawa', 'HESAWA', 'Hasawa','Hesawz', 'Hesewa'},
                  'Individuals': {'Individuals', 'INDIVIDUALS'},
                  'Institution': {'Institution', 'Insititutiona'},
                  'Japan Government': {'Japan Government', 'JAPAN EMBASSY', 'JICA','JAICA', 'Jaica', 'JSICA','Jika'},
                  'Jeshi la Wokovu': {'Jeshi la Wokovu', 'Jeshi la wokovu', 'Jeshi la wokovu [cida]'},
                  'KARUMBA BUILDING COMPANY LTD': {'KARUMBA BUILDING COMPANY LTD', 'KARUMBA BIULDIN',
                                                  'KARUMBA BIULDING COMPANY LTD','KARUMBA BIULDING CONTRACTOR'},
                  'KOBERG': {'KOBERG', 'KOBERG Contractor'},
                  'KYASHA ENTERPR': {'KYASHA ENTERPR', 'KYASHA ENTREPR'},
                  'LWI': {'LWI', 'LWI &CENTRAL GOVERNMENT'},
                  'MACK DONALD CO LTD': {'MACK DONALD CO LTD','MACK DONALD CONTRACTOR', 'MACK DONALD CONTRSCTOR'},
                  'MKONGO CONSTRUCTION': {'MKONGO CONSTRUCTION', 'MKON CONSTRUCTION', 'MKONG CONSTRUCTION',
                                         'MKONGO BUILDING CONTRACTOR'},
                  'MTUWASA': {'MTUWASA', 'MTUWASA and Community'},
                  'MWAKI CONTRACTOR': {'MWAKI CONTRACTOR', 'MWAKI CONTRACTO'},
                  'Makonde': {'Makonde', 'Makonde water Population', 'Makonde water population','Makonde water supply'},
                  'Maswi company': {'Maswi company', 'Maswi'},
                  'Private': {'Private', 'Privat'},
                  'RC church': {'RC church', 'R.C', 'RC CATHORIC', 'RC/Mission', 'Roman', 'Cathoric', 'rc ch'},
                  'Region Water Department': {'Region Water Department', 'Region water', 'Region water Department', 
                                              'Regional Water'},
                  'SAXON BUILDING CONTRACTORS': {'SAXON BUILDING CONTRACTORS', 'SAXON  BUILDING CONTRACTOR',
                                                 'SAXON BUILDING CONTRACTOR'},
                  'TASAF': {'TASAF', 'TASA', 'TASAF 1', 'TASAF and Comunity', 'TASAF and MMEM', 
                            'TASAFcitizen and LGA', 'TASF', 'TASSAF', 'Tasaf', 'Tasaf and Lga'},
                  'Taes': {'Taes', 'Taees'},
                  'TUKWALE ENTERP': {'TUKWALE ENTERP', 'TUKWARE ENTERP'},
                  'UMOJA DRILLING': {'UMOJA DRILLING', 'UMOJA DRILLING CONSTRUCTION',
                                     'UMOJA DRILLING CONTRACTOR','UMOJA DRILLING CONTRUCTO'},
                  'UNICEF': {'UNICEF', 'UNICRF','Unicef','Unisef'},
                  'VC': {'VC', 'VCIF'},
                  'VIFAFI': {'VIFAFI', 'VIFAI'},
                  'VITECOS': {'VITECOS','VITECOS INVEST', 'VTECOS'},
                  'Village Govt': {'Village Govt','Village government', 'Village govt', 
                                   'Village local contractor', 'Village water committee', 'Subvillage'},
                  'WORLD BANK': {'WORLD BANK', 'W', 'W/', 'WORLD NK', 'WOULD BANK', 'World bank'},
                  'Water users Group': {'Water use Group','Water user Group','Water users Group'},
                  'Zao': {'Zao','Zao water spring','Zao water spring X'}
                 }

print(len(installer_dict))

50

In [354]:
# test with name of dictionary included. (Might be needed for actual .apply(...))
test_dict2 = {'Arisan': {'Arisan', 'Arian', 'Artisan'}, 'Government': {'Government', 'government', 'govt.'}, 'Japan': {'Japan', 'Japan Government'}}

def allocator2(name, names_dict):
    for key, value in names_dict.items():
        temp = []
        for value1 in value:
            temp.append(value1)
        if name in temp:
            return key
        
    return name
        
print(allocator2('Arian', test_dict2))
print(allocator2('Cheese', test_dict2))
print(allocator2('govt.', test_dict2))
print(allocator2('Henry', test_dict2))
print(allocator2('Japan', test_dict2))

Arisan
Cheese
Government
Henry
Japan

Got from 466 categories to 50, much better!

Next is to turn all of the remaining 1s (and 2s) into another category.  Needs a function to apply after the above function.

In [355]:
# test
test = [{'installer': 'Japan', 'year': 2015},
        {'installer': 'Japan', 'year': 2017},
        {'installer': 'Egypt', 'year': 2015},
        {'installer': 'Spain', 'year': 2014},
        {'installer': 'erik', 'year': 2014},
        {'installer': 'a_village', 'year': 2013},
        {'installer': 'Spain', 'year': 2015},
        {'installer': 'Egypt', 'year': 2012},
        {'installer': 'Egypt', 'year': 2014},
        {'installer': 'Japan', 'year': 2014},
       ]
test_df = pd.DataFrame(test)
test_df.head(7)

   installer  year
0      Japan  2015
1      Japan  2017
2      Egypt  2015
3      Spain  2014
4       erik  2014
5  a_village  2013
6      Spain  2015

In [356]:
print(type(test_df))

<class 'pandas.core.frame.DataFrame'>

In [357]:
test_df.installer.value_counts()

Japan        3
Egypt        3
Spain        2
erik         1
a_village    1
Name: installer, dtype: int64

In [358]:
z = test_df.installer.value_counts()
print(type(z))
for i in z.index:
    print(i)
z.index

<class 'pandas.core.series.Series'>
Japan
Egypt
Spain
erik
a_village

Index(['Japan', 'Egypt', 'Spain', 'erik', 'a_village'], dtype='object')

In [359]:
for name in test_df.installer:
    if test_df.installer.value_counts()[name] == 1:
        print(name)

erik
a_village

In [360]:
test_df

   installer  year
0      Japan  2015
1      Japan  2017
2      Egypt  2015
3      Spain  2014
4       erik  2014
5  a_village  2013
6      Spain  2015
7      Egypt  2012
8      Egypt  2014
9      Japan  2014

The below will work on the df column with apply method

In [361]:
def change_name(name):
    if test_df.installer.value_counts()[name] < 3:
        return 'one-offs'
    else:
        return name
test_df.installer = test_df.installer.apply(change_name)
test_df

  installer  year
0     Japan  2015
1     Japan  2017
2     Egypt  2015
3  one-offs  2014
4  one-offs  2014
5  one-offs  2013
6  one-offs  2015
7     Egypt  2012
8     Egypt  2014
9     Japan  2014

In [362]:
def change_name2(name, df):
    if df.installer.value_counts()[name] < 3:
        return 'one-offs'
    else:
        return name
test_df.installer = test_df.installer.apply(lambda x: change_name2(x, test_df))
test_df

  installer  year
0     Japan  2015
1     Japan  2017
2     Egypt  2015
3  one-offs  2014
4  one-offs  2014
5  one-offs  2013
6  one-offs  2015
7     Egypt  2012
8     Egypt  2014
9     Japan  2014

Now run installer functions

### Here we reduce number of installer categories

In [363]:
df.installer = df.installer.apply(lambda name: allocator2(name, installer_dict))
df['installer'].value_counts()[:15]

DWE                          11013
Fin Water                     9449
DANIDA                        8162
LGA                           4477
Government                    3637
UNICEF                        2651
Japan Government              1991
TASAF                         1632
District Water Department     1430
Amref                         1254
MWE                           1034
Region Water Department       1023
District Council               935
Mission                        451
GEN                            429
Name: installer, dtype: int64

In [364]:
#Â an easy way, partial
nums_dict = {}
count1 = 0
count2 = 0
count3 = 0
count4 = 0
for name in df['installer'].value_counts().index:
    if df['installer'].value_counts()[name] == 1:
        count1 += 1
    if df['installer'].value_counts()[name] == 2:
        count2 += 1
    if df['installer'].value_counts()[name] == 3:
        count3 += 1
    if df['installer'].value_counts()[name] == 4:
        count4 += 1

print(('1', count1), ('2', count2), ('3', count3))

('1', 128) ('2', 17) ('3', 10)

## How to create counts in pandas properly

In [365]:
from collections import Counter
number_installed  = []
for index in df['installer'].value_counts():
    number_installed.append(index)
count_installed = pd.DataFrame.from_dict(Counter(number_installed), orient="index")
count_installed
# ^ count_installed is in format: col0 = how many have you installed; col1 = number of orgs who have installed this many

         0
11013    1
9449     1
8162     1
4477     1
3637     1
2651     1
1991     1
1632     1
1430     1
1254     1
1034     1
1023     1
935      1
451      1
429      1
385      1
352      2
343      1
341      2
319      1
286      1
253      1
242      1
241      1
222      1
220      1
209      1
198      1
187      1
176      1
...    ...
46       1
44       8
43       1
39       1
35       1
33       8
31       1
30       1
29       1
26       1
25       1
22      13
21       1
20       2
18       2
17       1
16       2
13       1
12       1
11      52
10       2
9        3
8        2
7        3
6        4
5        4
4        9
3       10
2       17
1      128

[76 rows x 1 columns]

Looks reasonable to have a category of one_off if you installed only one water point

In [366]:
one_offs = []
names = df['installer'].value_counts().index
for name in names:
    if df['installer'].value_counts()[name] == 1:
        one_offs.append(name)
len(one_offs)
print(one_offs[:10])

['Islamic', 'KAYEMPU LTD', 'Rhobi Wamburs', 'Nyabweta', 'Kahema', 'Juma', 'Waheke', 'Teonas Wambura', 'Sagaswe', 'Rhobi']

In [367]:
'Islamic' in df.installer.values

True

In [368]:
def is_one_off(name):
    if name in one_offs:
        return 'one_off'
    else: 
        return name

df.installer = df.installer.apply(is_one_off)
'Islamic' in df.installer.values

False

In [369]:
'one_off' in df.installer.values

True

^ So that worked.

Rerun eda_helper

In [370]:
print(eda_helper(df))

                           data_type  null_count  unique_count
id                             {int}           0          9400
longitude                    {float}           0          7589
latitude                     {float}           0          7589
gps_height                     {int}           0          1580
date_recorded                  {str}           0           184
construction_year              {int}           0            49
extraction_type_group          {str}           0            12
region_code                    {int}           0            11
population                     {str}           0             9
water_quality                  {str}           0             8
payment_type                   {str}           0             7
source_type                    {str}           0             7
basin                          {str}           0             5
management_group               {str}           0             5
quantity_group                 {str}           0             5
season_recorded                {str}           0             4
waterpoint_type_group          {str}           0             4
source_class                   {str}           0             3
status_group                   {str}           0             3
permit                 {bool, float}         127             3
installer               {str, float}         194           219
scheme_management       {str, float}        3143            11
public_meeting         {bool, float}        7291             3

In [379]:
# save this good data!
df.to_csv('/Users/RAhmed/data store/Wesleyan_Capstone/corrected_data02.csv', index=False)

In [311]:
# Apply wpt_age globally

In [380]:
df_wpt_age = df['date_recorded'].apply(year_convert) - df['construction_year']
df_wpt_age.head()

0    19.129032
1    19.129032
2     3.120968
3     2.145161
4    10.145161
dtype: float64

In [381]:
df.insert(14, 'wpt_age', df_wpt_age)
df.head()

,id,date_recorded,season_recorded,gps_height,installer,longitude,latitude,basin,region_code,population,...,wpt_age,extraction_type_group,management_group,payment_type,water_quality,quantity_group,source_type,source_class,waterpoint_type_group,status_group
0,20163,2013-02-17,short_dry,330,DANIDA,37.351138,-11.649440,Ruvuma / Southern Coast,10,1,...,19.129032,swn 80,user-group,annually,soft,insufficient,borehole,groundwater,hand pump,functional needs repair
1,42800,2013-02-17,short_dry,327,DANIDA,37.351869,-11.648378,Ruvuma / Southern Coast,10,1,...,19.129032,swn 80,user-group,annually,soft,enough,borehole,groundwater,hand pump,functional needs repair
2,57360,2013-02-14,short_dry,439,TASAF,37.082702,-11.586297,Ruvuma / Southern Coast,10,1,...,3.120968,swn 80,user-group,never pay,soft,insufficient,borehole,groundwater,hand pump,non functional
3,338,2013-02-23,short_dry,559,MKONGO CONSTRUCTION,36.463786,-11.568577,Ruvuma / Southern Coast,10,500,...,2.145161,other,unknown,unknown,soft,unknown,borehole,groundwater,other,non functional
4,51453,2013-02-23,short_dry,568,DWE,36.465277,-11.566805,Ruvuma / Southern Coast,10,100,...,10.145161,swn 80,user-group,monthly,soft,dry,shallow well,groundwater,hand pump,non functional

In [383]:
# save this update
df.to_csv('/Users/RAhmed/data store/Wesleyan_Capstone/corrected_data03.csv', index=False)